@media all and (max-width:576px){
    #tempDay1{
       
        font-size: 60px !important;
    }
    .weather-input form button{
        padding: 2px 35px !important;
    }
    .navbar {
        padding: 50px 0px !important;
     
     }
     footer .container{
          width: 100% !important;
     }
     .footer-info form button{
         padding: 5px 5px !important;
     padding: 2px 5px !important;
    }
}
@media all and (max-width:992px) {
    .container-fluid {
        width: 100% !important;
    }

    .navbar-nav {
        width: 100% !important;
        margin-top: 30px !important;
    }
}

@media all and (min-width:993px) {
    .container-fluid {
        width: 100% !important;
    }

    .navbar-nav {
        width: 70% !important;
    }
}

@media all and (min-width:1200px) {
    .navbar-nav {
        width: 55% !important;
    }
   
}

@media all and (max-width:576px){
    .space {
        background-color: #1e202b !important;
        height: 1000px;
    }
    .bunner{
        height: 360px;
    }
    .weather-status{
        margin-left: 12px;
        border-radius: 10px;  
    }
}
@media all and (min-width:576px){
    
    .space{
        height: 1000px;
    }

}

@media all and (min-width:767px){
    
    .space{
        height: 1030px;
    }

}
@media all and (max-width:990px){
    
    .weather-status{
       width: 100%;
    }

}
@media all and (min-width:990px){
   
    .space{
        height: 300px;
    }
    .weather-degree div p{
        font-size: 50px !important;
    }
}
@media all and (min-width:1200px){
    .weather-degree div p{
        font-size: 90px !important;
    }
    
}
@media all and (min-width:992px){
    
    .weather{
        top: 240px !important;
    }
}